

<div id="menu" style="background-image: url(http://assets.phppennyauctiondemo.com/img/ban/guest_ban/head_ban_guest_bg.png); background-attachment: scroll; background-color: rgb(145, 186, 11); display: block; background-position: 0% 0%; background-repeat: repeat no-repeat;">
	<!-- Default user page start -->
	<!-- Head Ban start -->
	<div align="center">	
	<div id="menu_guest_body" align="center">
<!-- Left Ban -->

	<div class="guest_l1">
	<img src="http://assets.phppennyauctiondemo.com/img/ban/guest_ban/head_ban_guest_copy.png" width="408" height="205" alt="The ultimate new shopping experience" title="The ultimate new shopping experience">
	<div class="guest_l2"><a href="/users/register" class="regist"><img src="http://assets.phppennyauctiondemo.com/img/spacer.gif" width="204" height="48" alt="" title=""></a></div>
	</div>
	<!-- Right Ban -->
	<div class="guest_r1">
	<a href="/users/register"><img src="http://assets.phppennyauctiondemo.com/img/ban/guest_ban/head_ban_guest_image.png" width="460" alt="Register" title="Register"></a></div>
	<br class="clear_br">
	</div>

	</div>
	<!-- Head Ban End -->
	<!-- Default user page end -->
</div>






