<div class="footerholder">

        <div align="center">

            <div id="foot">

                <div class="col1">

                    <dt class="foot_dt">Find Out More.</dt>
                    <!--

-->
                    <dd class="foot_dd">
                        <ul>
                            <!--

-->
                            <li>
                                <dl class="foot_dl">
                                    <dt>Stay Updated</dt>

                                    <dt><a rel="nofollow" href="http://www.phppennyauctiondemo.com/news">Latest News</a></dt>
                                </dl>
                            </li>
                            <!--

-->
                            <li>
                                <dl class="foot_dl">
                                    <dt>First Time Here?</dt>

                                    <dt><a rel="nofollow" href="http://www.phppennyauctiondemo.com/page/guide">Getting Started</a></dt>
                                </dl>
                            </li>
                            <!--

-->
                            <li>
                                <dl class="foot_dl">
                                    <dt>Instant Help Now!</dt>

                                    <dt><a rel="nofollow" href="http://www.phppennyauctiondemo.com/page/help">Help</a></dt>

                                    <dt><a rel="nofollow" href="http://www.phppennyauctiondemo.com/contact">Contact Us</a></dt>

                                    <dt><a rel="nofollow" href="http://www.phppennyauctiondemo.com/suggestion">Suggestions</a></dt>
                                </dl>
                            </li>
                            <!--

-->
                        </ul>
                    </dd>

                </div>



                <div class="col2 align-center" style="text-align: left;">

                    <dt class="foot_dt">Top Pages.</dt>

                    <dd class="foot_dd">
                        <ul>
                            <!--

-->
                            <li>
                                <dl class="foot_dl">
                                    <dt>First Steps</dt>

                                    <dt><a href="http://www.phppennyauctiondemo.com/page/about">About Us</a></dt>

                                    <dt><a rel="nofollow" href="http://www.phppennyauctiondemo.com/page/terms">Terms</a></dt>

                                    <dt><a rel="nofollow" href="http://www.phppennyauctiondemo.com/page/privacy">Privacy</a></dt>
                                </dl>
                            </li>
                            <!--

-->
                            <li>
                                <dl class="foot_dl">
                                    <dt>Product Lineup</dt>

                                    <dt><a href="http://www.phppennyauctiondemo.com/categories">Categories</a></dt>

                                    <dt><a href="http://www.phppennyauctiondemo.com/page/sitemap">Sitemap</a></dt>
                                </dl>
                            </li>
                            <!--

-->
                        </ul>
                    </dd>

                </div>



                <div class="col3">

                    <dt class="foot_dt">Connect With Us.</dt>

                    <dd class="foot_dd">
                        <ul>
                            <!--

-->
                            <li>
                                <dl class="foot_dl">
                                    <dt>Updated Daily...</dt>

                                    <dt><a rel="nofollow" href="http://www.facebook.com/scriptmatixltd" target="_blank">Facebook</a><img src="http://assets.phppennyauctiondemo.com/img/parts/external.png" width="10" height="10" border="0" align="middle" style="margin-left: 3px; vertical-align: middle;" /></dt>

                                    <dt><a rel="nofollow" href="http://twitter.com/phppennyauction" target="_blank">Twitter</a>
                                        <img src="http://assets.phppennyauctiondemo.com/img/parts/external.png" width="10" height="10" border="0" align="middle" style="vertical-align: middle;" /></dt>

                                    <dt><a rel="nofollow" href="http://www.youtube.com/phppennyauction" target="_blank">YouTube</a><img src="http://assets.phppennyauctiondemo.com/img/parts/external.png" width="10" height="10" border="0" align="middle" style="margin-left: 3px; vertical-align: middle;" /></dt>

                                    <dt><a rel="nofollow" href="http://www.phppennyauction.com/blog/" target="_blank">Our Blog</a><img src="http://assets.phppennyauctiondemo.com/img/parts/external.png" width="10" height="10" border="0" align="middle" style="margin-left: 3px; vertical-align: middle;" /></dt>
                                </dl>
                            </li>
                            <!--

-->
                            <li>
                                <dl class="foot_dl">
                                    <dt>About our Winners</dt>

                                    <dt style="color: #999;"><a href="http://www.youtube.com/phppennyauction" target="_blank">View our YouTube Channel!</a></dt>
                                </dl>
                            </li>
                            <!--

-->
                        </ul>
                    </dd>

                </div>

                <div class="col4" style="text-align: left;">



                    <dt class="foot_dt">Pay With Any Of These...<br class="clear_br" />
                    </dt>

                    <dd class="foot_dd" style="margin-bottom: 8px; margin-top: -1px;">
                        <div style="margin-top: 0.5em; margin-left: 20px;">

                            <img src="http://assets.phppennyauctiondemo.com/img/parts/pay_ppl.png" alt="PayPal" title="PayPal" border="0" />

                        </div>
                    </dd>


                </div>

            </div>


            <div id="footer" style="width: 950px; height: 1px;">
                <div style="width: 300px; float: left; text-align: left; color: #999;">Quick Links:     </div>
                <div style="width: 650px; float: left; text-align: right;">
                    <p class="align-right" style="margin: 0;">© 2012 Powered by phpPennyAuction. Get your own <a href="http://www.phppennyauction.com" target="_blank" title="">Penny Auction Software</a></p>
                </div>
            </div>


        </div>

    </div>