  <div id="header">

        <div align="center">

            <div style="width: 950px; text-align: right;">



                <div class="logo">

                    <ul>
                        <li><a href="/" title="" class="logo"><span>&nbsp;</span></a></li>
                    </ul>

                    <br class="clear_br" />

                </div>



                <div class="top-menu">

                    <div class="top-menu">

                        <ul>

                            <section id="login">
                                @Html.Partial("_LoginPartial")
                            </section>


                        </ul>

                        <div class="user-status">
                            <span style="color: #CC0; text-decoration: underline; text-align: center;"><strong><a href="http://www.phppennyauction.com" target="_blank">Buy this software now for $250/month &raquo;</a></strong></span> | <span><a href="http://www.phppennyauctiondemo.com/page/about">About Us</a></span>

                            | <span class="head_help"><a href="http://www.phppennyauctiondemo.com/page/help">Help</a></span>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div id="sub-header" class="clearfix">

            <div align="center">

                <div style="width: 950px; text-align: left;">

                    <div id="select-categories">

                        <ul id="nav">
                            <!--  

-->
                            <li class="list"><a href="http://www.phppennyauctiondemo.com/auctions">All items </a></li>
                            <!--

-->
                            <li class="list"><a href="/categories/Cash-and-Coupons-4">Cash and Coupons</a></li>
                            <li class="list"><a href="/categories/Kids-Toys-16">Kids Toys</a></li>
                            <li style="border-right: none;">

                                <a>Other Auctions<span style="margin-left: 1px;">▼</span></a>

                                <ul>

                                    <li><a href="/auctions/future">Upcoming auctions (0)</a></li>

                                    <li><a href="/auctions/closed">Closed auctions (0)</a></li>

                                    <li><a href="/auctions/winners">Winners</a></li>

                                    <li><a href="/categories">Categories</a>
                                </ul>

                            </li>

                        </ul>

                    </div>



                    <div class="taalkeuze">

                        <ul>

                            <li><a id="js_curlang" href="javascript:;" class="us">English</a>

                                <ul>

                                    <li><a href="#" class="be">Belgique - Français</a></li>

                                    <li><a href="#" class="vl">België</a></li>

                                    <li><a href="#" class="bo">Bolivia</a></li>

                                    <li><a href="#" class="ba">Bosnia-Herzegovina</a></li>

                                    <li><a href="#" class="de">Deutschland</a></li>

                                    <li><a href="#" class="do">Dominica Republic</a></li>

                                    <li><a href="#" class="ec">Ecuador</a></li>

                                    <li><a href="#" class="es">España</a></li>

                                    <li><a href="#" class="fr">France</a></li>

                                    <li><a href="#" class="gt">Guatemala</a></li>

                                    <li><a href="#" class="hn">Honduras</a></li>

                                    <li><a href="#" class="ir">Ireland</a></li>

                                    <li><a href="#" class="lu">Luxembourg</a></li>

                                    <li><a href="#" class="mt">Malta</a></li>

                                    <li><a href="#" class="at">Österreich</a></li>

                                    <li><a href="#" class="py">Paraguay</a></li>

                                    <li><a href="#" class="pe">Peru</a></li>

                                    <li><a href="#" class="pr">Puerto Rico</a></li>

                                    <li><a href="#" class="ch">Schweiz - Deutsch</a></li>





                                </ul>

                            </li>

                        </ul>

                    </div>





                    <style type="text/css">
                        .taalkeuze {
                            float: right;
                        }

                            .taalkeuze ul {
                                margin: 0;
                            }

                                .taalkeuze ul li {
                                    width: 165px;
                                    margin: 3px 0 0 0;
                                    padding: 1px 5px 1px 3px;
                                    background-color: #cbcccd;
                                    border: 1px solid #808082;
                                    color: #5f5f5f;
                                    border-radius: 5px 5px 5px 5px;
                                    -moz-border-radius: 5px 5px 5px 5px;
                                    box-shadow: inset 1px 1px 0 #b3b3b5;
                                    -moz-box-shadow: inset 1px 1px 0 #b3b3b5;
                                    display: block;
                                    background-position: 155px 8px;
                                    background-repeat: no-repeat;
                                    background-image: url(http://assets.phppennyauctiondemo.com/img/countries/arrow.gif);
                                }

                                    .taalkeuze ul li a {
                                        padding: 1px 5px 1px 27px;
                                        color: #5f5f5f;
                                        display: block;
                                        background-position: 6px 6px;
                                        background-repeat: no-repeat;
                                    }

                                        .taalkeuze ul li a.nl {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/nl.gif);
                                        }

                                        .taalkeuze ul li a.de {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/de.gif);
                                        }

                                        .taalkeuze ul li a.en {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/en.gif);
                                        }

                                        .taalkeuze ul li a.at {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/at.gif);
                                        }

                                        .taalkeuze ul li a.ch {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/ch.gif);
                                        }

                                        .taalkeuze ul li a.vl {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/be.gif);
                                        }

                                        .taalkeuze ul li a.ir {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/ie.gif);
                                        }

                                        .taalkeuze ul li a.mt {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/mt.gif);
                                        }

                                        .taalkeuze ul li a.us {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/us.gif);
                                        }

                                        .taalkeuze ul li a.fr {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/fr.gif);
                                        }

                                        .taalkeuze ul li a.be {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/be.gif);
                                        }

                                        .taalkeuze ul li a.su {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/ch.gif);
                                        }

                                        .taalkeuze ul li a.lu {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/lu.gif);
                                        }

                                        .taalkeuze ul li a.es {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/es.gif);
                                        }

                                        .taalkeuze ul li a.ba {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/ba.gif);
                                        }

                                        .taalkeuze ul li a.bo {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/bo.gif);
                                        }

                                        .taalkeuze ul li a.do {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/do.gif);
                                        }

                                        .taalkeuze ul li a.ec {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/ec.gif);
                                        }

                                        .taalkeuze ul li a.gt {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/gt.gif);
                                        }

                                        .taalkeuze ul li a.hn {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/hn.gif);
                                        }

                                        .taalkeuze ul li a.py {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/py.gif);
                                        }

                                        .taalkeuze ul li a.pe {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/pe.gif);
                                        }

                                        .taalkeuze ul li a.pr {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/pr.gif);
                                        }

                                        .taalkeuze ul li a.uy {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/uy.gif);
                                        }

                                        .taalkeuze ul li a.ve {
                                            background-image: url(http://assets.phppennyauctiondemo.com/img/countries/ve.gif);
                                        }

                                        .taalkeuze ul li a:hover {
                                            color: #373737;
                                            text-decoration: none;
                                        }

                                    .taalkeuze ul li ul {
                                        background-color: #cbcccd;
                                        border-top: 1px solid #808082;
                                        display: none;
                                    }

                                        .taalkeuze ul li ul li {
                                            background-color: inherit;
                                            border: none;
                                            border-radius: 0px;
                                            -moz-border-radius: 0px;
                                            box-shadow: none;
                                            -moz-box-shadow: none;
                                            width: auto;
                                            margin: 0;
                                            padding: 0;
                                            background: none;
                                        }
                    </style>
                </div>

            </div>

        </div>

    </div>