@model CashCountDown.Models.ToDeactivate

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to Deactivate this?</h3>
@Html.DisplayFor(model => model.Name)
@Html.HiddenFor(model => model.id)

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Deactivate" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
